.fa__product {
    display: flexbox;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: -150px;
}

.fa__product-content {
    text-align: center;
    font-family: var(--font-family);
    color: #252B42;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}


.fa__pay-content {
    text-align: center;
    font-family: var(--font-family);
    color: #252B42;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fa__product-content h2,
.fa__product-content h3,
.fa__product-content h4,
.fa__product-content__phoneimg {
    margin: 0; /* Remove default margins for text elements */
}

.fa__pay-content h2,
.fa__pay-content h3,
.fa__pay-content h4,
.fa__pay-content__phoneimg {
    margin: 0; /* Remove default margins for text elements */
}


.fa__product-content-text {
    text-align: start;
    flex-direction: column;
}

.fa__pay-content-text {
    text-align: start;
    flex-direction: column;
}

#pt1 {
    font-weight: 700px;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #FA4A0C;
    margin-bottom: 20px;
}

#pt2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    padding: 10px, 0px, 10px, 0px;

}

#pt3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-top: 20px;
}

#pt4 {
    font-weight: 700px;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #FA4A0C;
    margin-bottom: 20px;
}

#pt5 {
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    padding: 10px, 0px, 10px, 0px;
}

#pt6 {
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-top: 20px;
}

#phoneimg_p4 {
    margin-right: -20%;
}

.fa__pay-swipe {
    text-align: center;

}

#pt7 {
    font-family: var(--font-family-2);
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #FA4A0C;
    margin-top: -10%;
    margin-bottom: auto;
}

@media screen and (max-width: 1050px) {
    .fa__product {
        flex-direction: column;
        margin-top: 0px;
    }

    .fa__product-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }

    .fa__product-content-text {
        text-align: center;
        width: 80%;
    }

    #pt2 {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    #pt3 {
        margin-right: auto;
        margin-left: auto;
    }

    #phoneimg_p4 {
        width: 100%;
        margin-right: 0;
    } 


    .fa__pay-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }

    .fa__pay-content-text {
        text-align: center;
        width: 80%;
    }

    #pt4 {
        margin-right: auto;
        margin-left: auto;
    }

    #pt5 {
        margin-right: auto;
        margin-left: auto;
    }

    #pt6 {
        margin-right: auto;
        margin-left: auto;
    }

    #phoneimg_p4 {
        width: 100%;
        margin-left: 10%;
    } 

    #phoneimg_p5 {
        width: 100%;
        margin-left: 8%;
    } 

    .fa__pay-swipe {
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 650px) {


    #phoneimg_p4 {
        margin-right: 0;
    }

    .fa__product {
        margin-top: 0;
    }

    .fa__product-content {
        margin-left: 0;
    }

    #pt1 {
        font-size: 16px;
        line-height: 26px;
    }
    
    #pt2 {
        font-size: 20px;
        line-height: 37px;
    }
    
    #pt3 {
        font-size: 14px;
        line-height: 24px;
        width: 70%;
    }

    #phoneimg_p4 {
        width: 90%;
        margin-left: 14%;
    }

    #pt4 {
        font-size: 16px;
        line-height: 26px;
    }
    
    #pt5 {
        font-size: 20px;
        line-height: 37px;
    }
    
    #pt6 {
        font-size: 14px;
        line-height: 24px;
        width: 70%;
        margin-bottom: 20px;
    }

    #phoneimg_p5 {
        width: 90%;
        margin-left: 12%;
        margin-top: -4rem;
    }

    #pt7 {
        font-size: 14px;
        line-height: 24px;
        width: 100%;
    }

}